
body {
  background-color: #808080;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

body div {
  display: flex;
  flex-direction: column;
}

#canvas-panel {
  width: 80%;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  flex: 1;
}

#command-panel {
  width: 80%;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
